if SHIELD_EVERBE_LEFT

config ZMK_KEYBOARD_NAME
    default "Everbe"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_EVERBE_LEFT || SHIELD_EVERBE_RIGHT

config ZMK_SPLIT
    default y

endif
