#include "keys_ch.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// Defines what key goes where
// &kp = keypress
// &mo = momentary layer, means it activates a specific layer when we hold down this key
//    &mo 1 = selects into the next layer
// &bt = selects a different bluetooth device
/ {
    combos {
        compatible = "zmk,combos";
        l_combo_lalt{
            timeout-ms = <50>;
            key-positions = <15 29>;
            bindings = <&kp LALT>;
        };
        l_combo_lgui {
            timeout-ms = <50>;
            key-positions = <16 30>;
            bindings = <&kp LGUI>;
        };
        l_combo_lctrl {
            timeout-ms = <50>;
            key-positions = <17 31>;
            bindings = <&kp LCTRL>;
        };

        r_combo_rctrl {
            timeout-ms = <50>;
            key-positions = <20 34>;
            bindings = <&kp RCTRL>;
        };
        r_combo_rgui{
            timeout-ms = <50>;
            key-positions = <21 35>;
            bindings = <&kp RGUI>;
        };
        r_combo_ralt {
            timeout-ms = <50>;
            key-positions = <22 36>;
            bindings = <&kp RALT>;
        };
    };
};
/ {
      behaviors {
          hm: mod_taps {
              compatible = "zmk,behavior-hold-tap";
              #binding-cells = <2>;
              tapping-term-ms = <150>;
              quick-tap-ms = <0>;
              flavor = "tap-preferred";
              bindings = <&kp>, <&kp>;               
          };
          fm: mod_taps2 { // fast homerow mods
              compatible = "zmk,behavior-hold-tap";
              #binding-cells = <2>;
              tapping-term-ms = <125>;
              quick-tap-ms = <0>;
              flavor = "tap-preferred";
              bindings = <&kp>, <&kp>;               
          };
          mk: mom_key {
              compatible = "zmk,behavior-hold-tap";
              #binding-cells = <2>;
              tapping-term-ms = <175>;
              quick-tap-ms = <0>;
              flavor = "balanced";
              bindings = <&mo>, <&kp>;               
          };
      };                                               

      keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
       &none            &kp N1   &kp N2      &kp N3      &kp N4      &kp N5        &kp N6      &kp N7     &kp N8      &kp N9       &kp N0      &kp CH_QUOT
&none  &kp TAB          &kp Q    &kp W       &kp E       &kp R       &kp T         &kp CH_Z    &kp U      &kp I       &kp O        &kp P       &kp CH_DLR &none
&none  &hm LCTRL ESC    &kp A    &kp S       &kp D       &kp F       &kp G         &kp H       &kp J      &kp K       &kp L        &kp CH_DIAE &kp BSPC    &none
&none  &kp LSHIFT       &kp CH_Y &kp X       &kp C       &kp V       &kp B         &kp N       &kp M      &kp COMMA   &kp DOT      &kp CH_MINS &kp RSHIFT  &none
       &none            &none    &none                   &kp LGUI    &mk 3 ENTER   &mk 2 SPACE &kp RALT               &none        &none       &none
            >;
        };
        default_experimental_layer {
            bindings = <
       &none      &kp N1   &kp N2      &kp N3      &kp N4            &kp N5        &kp N6      &kp N7           &kp N8         &kp N9       &kp N0      &kp CH_QUOT
&none  &none      &kp Q    &kp W       &kp E       &kp R             &kp T         &kp CH_Z    &kp U            &kp I          &kp O        &kp P       &kp CH_CIRC &none
&none  &kp ESC    &kp A    &kp S       &kp D       &kp F             &kp G         &kp H       &kp J            &kp K          &kp L        &kp CH_DIAE &kp CH_DLR  &none
&none  &kp LSHIFT &kp CH_Y &hm LALT X  &hm LGUI C  &hm LCTRL V       &kp B         &kp N       &hm RCTRL M      &hm RGUI COMMA &hm RALT DOT &kp CH_MINS &kp RSHIFT  &none
       &none      &none    &none                   &kp SPACE         &mk 3 TAB     &mk 2 BSPC  &kp ENTER                       &none        &none       &none
            >;
        };

        lower_layer {
            bindings = <
       &trans       &trans &trans      &trans      &trans       &trans             &trans     &trans          &trans       &trans           &trans     &bt BT_CLR_ALL
&trans &bt BT_SEL 0 &trans &kp F7      &kp F8      &kp F9       &kp F10            &kp C_PREV &kp C_VOL_DN    &kp C_VOL_UP &kp C_NEXT       &kp C_PP   &trans  &trans
&trans &bt BT_SEL 1 &trans &kp F4      &kp F5      &kp F6       &trans             &kp LEFT   &kp DOWN        &kp UP       &kp RIGHT        &kp C_MUTE &trans  &trans
&trans &trans       &trans &hm LALT F1 &hm LGUI F2 &hm LCTRL F3 &trans             &trans     &hm RCTRL F1    &hm RGUI F2  &hm RCTRL F3     &trans     &trans   &trans
       &trans       &trans &trans                  &trans       &kp BSPC           &trans     &tog 1                       &trans           &trans     &trans
            >;
        };
        upper_layer {
            bindings = <
        &trans &trans &trans  &trans      &trans &trans                           &trans      &trans            &trans           &trans           &trans      &trans
&trans  &trans &trans &kp N7  &kp N8      &kp N9 &kp N0                           &kp CH_SLSH &kp CH_LBRC       &kp CH_RBRC      &kp CH_EQ        &trans      &trans &trans
&trans  &trans &trans &kp N4  &kp N5      &kp N6 &trans                           &kp CH_PIPE &kp CH_LPRN       &kp CH_RPRN      &kp CH_LABK      &kp CH_RABK &trans &trans
&trans  &trans &trans &kp N1  &kp N2      &kp N3 &trans                           &kp CH_BSLS &hm RCTRL CH_LCBR &hm RGUI CH_RCBR &hm RALT CH_HASH &trans      &trans &trans
        &trans &trans &trans              &trans &trans                           &kp BSPC    &trans                             &trans           &trans      &trans
            >;
        };
    };
};

