#include "keys_ch.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// Defines what key goes where
// &kp = keypress
// &mo = momentary layer, means it activates a specific layer when we hold down this key
//    &mo 1 = selects into the next layer
// &bt = selects a different bluetooth device

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ---------------------------------------------------------------------------------
            // |   `  |  1  |  2  |  3  |  4  |  5  |     |  6  |  7  |  8  |  9  |  0  | BKSP |
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |     |  Y  |  U  |  I  |  O  |  P  |  \   |
            // | CAPS |  A  |  S  |  D  |  F  |  G  |     |  H  |  J  |  K  |  L  |  ;  |  ENT |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |     |  N  |  M  |  ,  |  .  |  /  | APOS |
            // | CTRL | ALT | GUI | SPC | SPC | SPC |     | SPC | LOW |LARW |DARW |UARW | RARW |

            bindings = <
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A         &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
       &kp A  &kp A  &kp A         &kp A  &kp A  &kp A  &kp A         &kp A  &kp A  &kp A
            >;
        };

        lower_layer {
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 2  &bt BT_SEL 3  &trans        &trans                      &trans    &trans          &trans  &trans     &trans  &bt BT_CLR_ALL
&trans  &trans        &trans        &trans        &trans        &trans        &trans        &trans    &trans          &trans  &trans     &trans  &trans          &trans
&trans  &kp LA(LBKT)  &kp LA(RBKT)  &kp LS(LPAR)  &kp LS(RPAR)  &kp LA(LBRC)  &kp LA(RBRC)  &kp LEFT  &kp DOWN_ARROW  &kp UP  &kp RIGHT  &trans  &trans          &trans
&trans  &trans        &trans        &trans        &trans        &trans        &trans        &trans    &trans          &trans  &trans     &trans  &trans          &trans
        &trans        &trans        &trans                      &trans        &trans        &trans    &trans                  &trans     &trans  &trans
            >;
        };
    };
};
